In [8]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date
from datetime import datetime

Una vez hecha la limpieza en todas las tablas tenemos que unirlas, detectamos que la nueva data tenía información faltante que ya estaba en la vieja data, por lo que filtraremoso la nueva data para quedarnos solo con la información que no tenemos y completar la tabla vieja y tenga la mayor cantidad de información posible.

In [126]:
TeamsOld = pd.read_csv('TeamStatisticsEnero.csv')
TeamsNew = pd.read_csv('TeamStatisticsFebrero.csv')

In [130]:
TeamsOld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62280 entries, 0 to 62279
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   62280 non-null  int64
 1   gameDate                 62280 non-null  object
 2   teamCity                 62280 non-null  object
 3   teamName                 62280 non-null  object
 4   teamId                   62280 non-null  int64
 5   opponentTeamCity         62280 non-null  object
 6   opponentTeamName         62280 non-null  object
 7   opponentTeamId           62280 non-null  int64
 8   home                     62280 non-null  int64
 9   win                      62280 non-null  int64
 10  teamScore                62280 non-null  int64
 11  opponentScore            62280 non-null  int64
 12  assists                  62280 non-null  float64
 13  blocks                   62280 non-null  float64
 14  steals                   62280 non-null  float64
 15  fieldGoalsAttempted      62280 non-null  float64
 16  fieldGoalsMade           62280 non-null  float64
 17  fieldGoalsPercentage     62280 non-null  float64
 18  threePointersAttempted   62280 non-null  float64
 19  threePointersMade        62280 non-null  float64
 20  threePointersPercentage  62280 non-null  float64
 21  freeThrowsAttempted      62280 non-null  float64
 22  freeThrowsMade           62280 non-null  float64
 23  freeThrowsPercentage     62280 non-null  float64
 24  reboundsDefensive        62280 non-null  float64
 25  reboundsOffensive        62280 non-null  float64
 26  reboundsTotal            62280 non-null  float64
 27  foulsPersonal            62280 non-null  float64
 28  turnovers                62280 non-null  float64
 29  plusMinusPoints          62280 non-null  float64
 30  numMinutes               62280 non-null  float64
 31  q1Points                 62272 non-null  float64
 32  q2Points                 62272 non-null  float64
 33  q3Points                 62270 non-null  float64
 34  q4Points                 62266 non-null  float64
dtypes: float64(23), int64(7), object(5)
memory usage: 16.6+ MB

In [132]:
TeamsNew.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131172 entries, 0 to 131171
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   gameId                   131172 non-null  int64
 1   gameDate                 131172 non-null  object
 2   teamCity                 131172 non-null  object
 3   teamName                 131172 non-null  object
 4   teamId                   131172 non-null  int64
 5   opponentTeamCity         131172 non-null  object
 6   opponentTeamName         131172 non-null  object
 7   opponentTeamId           131172 non-null  int64
 8   home                     131172 non-null  int64
 9   win                      131172 non-null  int64
 10  teamScore                131172 non-null  int64
 11  opponentScore            131172 non-null  int64
 12  assists                  131172 non-null  float64
 13  blocks                   131172 non-null  float64
 14  steals                   131172 non-null  float64
 15  fieldGoalsAttempted      131172 non-null  float64
 16  fieldGoalsMade           131172 non-null  float64
 17  fieldGoalsPercentage     131172 non-null  float64
 18  threePointersAttempted   131172 non-null  float64
 19  threePointersMade        131172 non-null  float64
 20  threePointersPercentage  131172 non-null  float64
 21  freeThrowsAttempted      131172 non-null  float64
 22  freeThrowsMade           131172 non-null  float64
 23  freeThrowsPercentage     131171 non-null  float64
 24  reboundsDefensive        131172 non-null  float64
 25  reboundsOffensive        131172 non-null  float64
 26  reboundsTotal            131172 non-null  float64
 27  foulsPersonal            131172 non-null  float64
 28  turnovers                131172 non-null  float64
 29  plusMinusPoints          130252 non-null  float64
 30  numMinutes               131164 non-null  float64
 31  q1Points                 124860 non-null  float64
 32  q2Points                 124860 non-null  float64
 33  q3Points                 124856 non-null  float64
 34  q4Points                 124848 non-null  float64
dtypes: float64(23), int64(7), object(5)
memory usage: 35.0+ MB

In [134]:
# Filtrar solo las filas de df2 cuyo ID no esté en df1
nuevas_filas = TeamsNew[~TeamsNew['gameId'].isin(TeamsOld['gameId'])]

# Unir df1 con las nuevas filas
df_resultante = pd.concat([TeamsOld, nuevas_filas], ignore_index=True)

In [136]:
df_resultante.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68892 entries, 0 to 68891
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   68892 non-null  int64
 1   gameDate                 68892 non-null  object
 2   teamCity                 68892 non-null  object
 3   teamName                 68892 non-null  object
 4   teamId                   68892 non-null  int64
 5   opponentTeamCity         68892 non-null  object
 6   opponentTeamName         68892 non-null  object
 7   opponentTeamId           68892 non-null  int64
 8   home                     68892 non-null  int64
 9   win                      68892 non-null  int64
 10  teamScore                68892 non-null  int64
 11  opponentScore            68892 non-null  int64
 12  assists                  68892 non-null  float64
 13  blocks                   68892 non-null  float64
 14  steals                   68892 non-null  float64
 15  fieldGoalsAttempted      68892 non-null  float64
 16  fieldGoalsMade           68892 non-null  float64
 17  fieldGoalsPercentage     68892 non-null  float64
 18  threePointersAttempted   68892 non-null  float64
 19  threePointersMade        68892 non-null  float64
 20  threePointersPercentage  68892 non-null  float64
 21  freeThrowsAttempted      68892 non-null  float64
 22  freeThrowsMade           68892 non-null  float64
 23  freeThrowsPercentage     68891 non-null  float64
 24  reboundsDefensive        68892 non-null  float64
 25  reboundsOffensive        68892 non-null  float64
 26  reboundsTotal            68892 non-null  float64
 27  foulsPersonal            68892 non-null  float64
 28  turnovers                68892 non-null  float64
 29  plusMinusPoints          68838 non-null  float64
 30  numMinutes               68892 non-null  float64
 31  q1Points                 62588 non-null  float64
 32  q2Points                 62588 non-null  float64
 33  q3Points                 62586 non-null  float64
 34  q4Points                 62582 non-null  float64
dtypes: float64(23), int64(7), object(5)
memory usage: 18.4+ MB

In [138]:
# Convertir la columna a tipo datetime
df_resultante['gameDate'] = pd.to_datetime(df_resultante['gameDate'])

# Ordenar el DataFrame por Fecha de más reciente a más antigua
df_ordenado = df_resultante.sort_values(by='gameDate', ascending=False)

# Mostrar resultado
df_ordenado.head(20)

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,numMinutes,q1Points,q2Points,q3Points,q4Points
62281,22400753,2025-02-09 14:00:00,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,7.0,48.0,21.0,10.0,-7.0,240.0,22.0,20.0,21.0,24.0
62282,22400754,2025-02-09 14:00:00,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,1,1,...,19.0,53.0,18.0,12.0,8.0,240.0,40.0,25.0,38.0,32.0
62283,22400754,2025-02-09 14:00:00,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,0,0,...,8.0,42.0,21.0,14.0,-8.0,240.0,39.0,24.0,28.0,36.0
62280,22400753,2025-02-09 14:00:00,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,10.0,58.0,19.0,15.0,7.0,240.0,18.0,19.0,21.0,36.0
62284,22400752,2025-02-09 13:00:00,Detroit,Pistons,1610612765,Charlotte,Hornets,1610612766,1,1,...,14.0,46.0,21.0,11.0,10.0,240.0,39.0,27.0,24.0,22.0
62285,22400752,2025-02-09 13:00:00,Charlotte,Hornets,1610612766,Detroit,Pistons,1610612765,0,0,...,9.0,37.0,18.0,14.0,-10.0,240.0,15.0,31.0,27.0,29.0
62286,22400751,2025-02-08 22:30:00,Los Angeles,Clippers,1610612746,Utah,Jazz,1610612762,1,1,...,8.0,37.0,20.0,14.0,20.0,240.0,29.0,29.0,36.0,36.0
62287,22400751,2025-02-08 22:30:00,Utah,Jazz,1610612762,Los Angeles,Clippers,1610612746,0,0,...,12.0,38.0,21.0,19.0,-20.0,240.0,30.0,26.0,30.0,24.0
62288,22400750,2025-02-08 22:00:00,New Orleans,Pelicans,1610612740,Sacramento,Kings,1610612758,0,0,...,5.0,39.0,24.0,16.0,-5.0,240.0,31.0,34.0,22.0,31.0
62289,22400750,2025-02-08 22:00:00,Sacramento,Kings,1610612758,New Orleans,Pelicans,1610612740,1,1,...,11.0,51.0,22.0,18.0,5.0,240.0,24.0,30.0,45.0,24.0
62290,22400749,2025-02-08 21:00:00,Denver,Nuggets,1610612743,Phoenix,Suns,1610612756,0,1,...,15.0,56.0,13.0,9.0,17.0,240.0,37.0,26.0,35.0,24.0
62291,22400749,2025-02-08 21:00:00,Phoenix,Suns,1610612756,Denver,Nuggets,1610612743,1,0,...,17.0,43.0,15.0,6.0,-17.0,240.0,32.0,23.0,26.0,24.0
62292,22400748,2025-02-08 20:30:00,Boston,Celtics,1610612738,New York,Knicks,1610612752,0,1,...,11.0,48.0,21.0,10.0,27.0,240.0,30.0,31.0,35.0,35.0
62293,22400748,2025-02-08 20:30:00,New York,Knicks,1610612752,Boston,Celtics,1610612738,1,0,...,7.0,30.0,15.0,9.0,-27.0,240.0,19.0,29.0,28.0,28.0
62298,22400747,2025-02-08 20:00:00,Minnesota,Timberwolves,1610612750,Portland,Trail Blazers,1610612757,1,1,...,8.0,43.0,18.0,14.0,16.0,240.0,24.0,23.0,29.0,38.0
62299,22400747,2025-02-08 20:00:00,Portland,Trail Blazers,1610612757,Minnesota,Timberwolves,1610612750,0,0,...,16.0,45.0,24.0,17.0,-16.0,240.0,22.0,38.0,24.0,14.0
62297,22400746,2025-02-08 20:00:00,Memphis,Grizzlies,1610612763,Oklahoma City,Thunder,1610612760,1,0,...,10.0,40.0,21.0,13.0,-13.0,240.0,26.0,26.0,31.0,29.0
62294,22400745,2025-02-08 20:00:00,Chicago,Bulls,1610612741,Golden State,Warriors,1610612744,1,0,...,6.0,31.0,19.0,17.0,-21.0,240.0,31.0,38.0,25.0,17.0
62295,22400745,2025-02-08 20:00:00,Golden State,Warriors,1610612744,Chicago,Bulls,1610612741,0,1,...,16.0,44.0,23.0,14.0,21.0,240.0,34.0,21.0,42.0,35.0
62296,22400746,2025-02-08 20:00:00,Oklahoma City,Thunder,1610612760,Memphis,Grizzlies,1610612763,0,1,...,21.0,55.0,27.0,8.0,13.0,240.0,34.0,35.0,35.0,21.0

In [140]:
df_ordenado.to_csv('TeamStatisticsCompleted.csv', index = False)

In [23]:
PlayersOld = pd.read_csv('PlayersStatisticsEnero.csv')
PlayersNew = pd.read_csv('PlayersStatisticsFebrero.csv')

C:\Users\andre\AppData\Local\Temp\ipykernel_23004\3553418656.py:2: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  PlayersNew = pd.read_csv('PlayersStatisticsFebrero.csv')

In [25]:
# Filtrar solo las filas de df2 cuyo ID no esté en df1
nuevas_filas = PlayersNew[~PlayersNew['gameId'].isin(PlayersOld['gameId'])]

# Unir df1 con las nuevas filas
df_resultante = pd.concat([PlayersOld, nuevas_filas], ignore_index=True)

In [29]:
# Convertir la columna a tipo datetime
df_resultante['gameDate'] = pd.to_datetime(df_resultante['gameDate'])

# Ordenar el DataFrame por Fecha de más reciente a más antigua
df_ordenado = df_resultante.sort_values(by='gameDate', ascending=False)

# Mostrar resultado
df_ordenado.head(5)

,firstName,lastName,personId,gameId,gameDate,playerteamCity,playerteamName,opponentteamCity,opponentteamName,win,...,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,Player,gameType,gameLabel,gameSubLabel,seriesGameNumber
779292,Garrett,Temple,202066,22400753,2025-02-09 14:00:00,Toronto,Raptors,Houston,Rockets,0,...,0.0,0.0,0.0,0.0,0.0,Garrett Temple,Regular Season,NaN,NaN,0.0
779319,Eric,Gordon,201569,22400754,2025-02-09 14:00:00,Philadelphia,76ers,Milwaukee,Bucks,0,...,0.0,0.0,0.0,0.0,-12.0,Eric Gordon,Regular Season,NaN,NaN,0.0
779321,Paul,George,202331,22400754,2025-02-09 14:00:00,Philadelphia,76ers,Milwaukee,Bucks,0,...,0.0,5.0,1.0,1.0,-6.0,Paul George,Regular Season,NaN,NaN,0.0
779322,Damian,Lillard,203081,22400754,2025-02-09 14:00:00,Milwaukee,Bucks,Philadelphia,76ers,1,...,1.0,7.0,1.0,4.0,3.0,Damian Lillard,Regular Season,NaN,NaN,0.0
779323,Andre,Drummond,203083,22400754,2025-02-09 14:00:00,Philadelphia,76ers,Milwaukee,Bucks,0,...,0.0,0.0,0.0,0.0,0.0,Andre Drummond,Regular Season,NaN,NaN,0.0

In [38]:
df_ordenado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 867069 entries, 779292 to 779267
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   firstName                867069 non-null  object
 1   lastName                 867069 non-null  object
 2   personId                 867069 non-null  int64
 3   gameId                   867069 non-null  int64
 4   gameDate                 867069 non-null  datetime64[ns]
 5   playerteamCity           867069 non-null  object
 6   playerteamName           867069 non-null  object
 7   opponentteamCity         867069 non-null  object
 8   opponentteamName         867069 non-null  object
 9   win                      867069 non-null  int64
 10  home                     867069 non-null  int64
 11  numMinutes               847513 non-null  float64
 12  points                   865850 non-null  float64
 13  assists                  865850 non-null  float64
 14  blocks                   865850 non-null  float64
 15  steals                   865850 non-null  float64
 16  fieldGoalsAttempted      865850 non-null  float64
 17  fieldGoalsMade           865850 non-null  float64
 18  fieldGoalsPercentage     865850 non-null  float64
 19  threePointersAttempted   865850 non-null  float64
 20  threePointersMade        865850 non-null  float64
 21  threePointersPercentage  865850 non-null  float64
 22  freeThrowsAttempted      865850 non-null  float64
 23  freeThrowsMade           865850 non-null  float64
 24  freeThrowsPercentage     865850 non-null  float64
 25  reboundsDefensive        865850 non-null  float64
 26  reboundsOffensive        865850 non-null  float64
 27  reboundsTotal            865850 non-null  float64
 28  foulsPersonal            865850 non-null  float64
 29  turnovers                865850 non-null  float64
 30  plusMinusPoints          865850 non-null  float64
 31  Player                   867069 non-null  object
dtypes: datetime64[ns](1), float64(20), int64(4), object(7)
memory usage: 218.3+ MB

In [36]:
df_ordenado = df_ordenado.iloc[:, :-4]

In [40]:
df_ordenado.to_csv('PlayerStatisticsCompleted.csv', index = False)

Por último de cara al modelo y para tener mejor cuadradas las estadísticas, crearemos una nueva columna para añadir las temporadas a los dos dataframes y así poder tener el dato de cada equipo y jugadores en el tiempo en el que realmente han jugado.

In [49]:
Seasons = pd.read_csv('nbaSeasons2000-2025.csv')

In [142]:
Teams = pd.read_csv('TeamStatisticsCompleted.csv')
players = pd.read_csv('PlayerStatisticsCompleted.csv')

Eliminamos las columnas sobrantes del ultimo merge

In [144]:
Teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68892 entries, 0 to 68891
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   68892 non-null  int64
 1   gameDate                 68892 non-null  object
 2   teamCity                 68892 non-null  object
 3   teamName                 68892 non-null  object
 4   teamId                   68892 non-null  int64
 5   opponentTeamCity         68892 non-null  object
 6   opponentTeamName         68892 non-null  object
 7   opponentTeamId           68892 non-null  int64
 8   home                     68892 non-null  int64
 9   win                      68892 non-null  int64
 10  teamScore                68892 non-null  int64
 11  opponentScore            68892 non-null  int64
 12  assists                  68892 non-null  float64
 13  blocks                   68892 non-null  float64
 14  steals                   68892 non-null  float64
 15  fieldGoalsAttempted      68892 non-null  float64
 16  fieldGoalsMade           68892 non-null  float64
 17  fieldGoalsPercentage     68892 non-null  float64
 18  threePointersAttempted   68892 non-null  float64
 19  threePointersMade        68892 non-null  float64
 20  threePointersPercentage  68892 non-null  float64
 21  freeThrowsAttempted      68892 non-null  float64
 22  freeThrowsMade           68892 non-null  float64
 23  freeThrowsPercentage     68891 non-null  float64
 24  reboundsDefensive        68892 non-null  float64
 25  reboundsOffensive        68892 non-null  float64
 26  reboundsTotal            68892 non-null  float64
 27  foulsPersonal            68892 non-null  float64
 28  turnovers                68892 non-null  float64
 29  plusMinusPoints          68838 non-null  float64
 30  numMinutes               68892 non-null  float64
 31  q1Points                 62588 non-null  float64
 32  q2Points                 62588 non-null  float64
 33  q3Points                 62586 non-null  float64
 34  q4Points                 62582 non-null  float64
dtypes: float64(23), int64(7), object(5)
memory usage: 18.4+ MB

In [62]:
Teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68892 entries, 0 to 68891
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   68892 non-null  int64
 1   gameDate                 68892 non-null  object
 2   teamCity                 68892 non-null  object
 3   teamName                 68892 non-null  object
 4   teamId                   68892 non-null  int64
 5   opponentTeamCity         68892 non-null  object
 6   opponentTeamName         68892 non-null  object
 7   opponentTeamId           68892 non-null  int64
 8   home                     68892 non-null  int64
 9   win                      68892 non-null  int64
 10  teamScore                68892 non-null  int64
 11  opponentScore            68892 non-null  int64
 12  assists                  68892 non-null  float64
 13  blocks                   68892 non-null  float64
 14  steals                   68892 non-null  float64
 15  fieldGoalsAttempted      68892 non-null  float64
 16  fieldGoalsMade           68892 non-null  float64
 17  fieldGoalsPercentage     68892 non-null  float64
 18  threePointersAttempted   68892 non-null  float64
 19  threePointersMade        68892 non-null  float64
 20  threePointersPercentage  68892 non-null  float64
 21  freeThrowsAttempted      68892 non-null  float64
 22  freeThrowsMade           68892 non-null  float64
 23  freeThrowsPercentage     68891 non-null  float64
 24  reboundsDefensive        68892 non-null  float64
 25  reboundsOffensive        68892 non-null  float64
 26  reboundsTotal            68892 non-null  float64
 27  foulsPersonal            68892 non-null  float64
 28  turnovers                68892 non-null  float64
 29  plusMinusPoints          68838 non-null  float64
 30  numMinutes               68892 non-null  float64
 31  q1Points                 62272 non-null  float64
 32  q2Points                 62272 non-null  float64
 33  q3Points                 62270 non-null  float64
 34  q4Points                 62266 non-null  float64
dtypes: float64(23), int64(7), object(5)
memory usage: 18.4+ MB

In [146]:
# Convertir la columna a tipo datetime
Teams['gameDate'] = pd.to_datetime(pd.to_datetime(Teams['gameDate']).dt.date)

# Mostrar resultado
Teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68892 entries, 0 to 68891
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   68892 non-null  int64
 1   gameDate                 68892 non-null  datetime64[ns]
 2   teamCity                 68892 non-null  object
 3   teamName                 68892 non-null  object
 4   teamId                   68892 non-null  int64
 5   opponentTeamCity         68892 non-null  object
 6   opponentTeamName         68892 non-null  object
 7   opponentTeamId           68892 non-null  int64
 8   home                     68892 non-null  int64
 9   win                      68892 non-null  int64
 10  teamScore                68892 non-null  int64
 11  opponentScore            68892 non-null  int64
 12  assists                  68892 non-null  float64
 13  blocks                   68892 non-null  float64
 14  steals                   68892 non-null  float64
 15  fieldGoalsAttempted      68892 non-null  float64
 16  fieldGoalsMade           68892 non-null  float64
 17  fieldGoalsPercentage     68892 non-null  float64
 18  threePointersAttempted   68892 non-null  float64
 19  threePointersMade        68892 non-null  float64
 20  threePointersPercentage  68892 non-null  float64
 21  freeThrowsAttempted      68892 non-null  float64
 22  freeThrowsMade           68892 non-null  float64
 23  freeThrowsPercentage     68891 non-null  float64
 24  reboundsDefensive        68892 non-null  float64
 25  reboundsOffensive        68892 non-null  float64
 26  reboundsTotal            68892 non-null  float64
 27  foulsPersonal            68892 non-null  float64
 28  turnovers                68892 non-null  float64
 29  plusMinusPoints          68838 non-null  float64
 30  numMinutes               68892 non-null  float64
 31  q1Points                 62588 non-null  float64
 32  q2Points                 62588 non-null  float64
 33  q3Points                 62586 non-null  float64
 34  q4Points                 62582 non-null  float64
dtypes: datetime64[ns](1), float64(23), int64(7), object(4)
memory usage: 18.4+ MB

In [148]:
# Convertir todas las columnas de Seasons a tipo datetime
date_cols = ['Inicio Temporada Regular', 'Fin Temporada Regular', 'Inicio Playoffs', 'Fin Playoffs']
for col in date_cols:
    Seasons[col] = pd.to_datetime(Seasons[col], dayfirst=True)

In [150]:
Seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 26 non-null     object
 1   Inicio Temporada Regular  26 non-null     datetime64[ns]
 2   Fin Temporada Regular     26 non-null     datetime64[ns]
 3   Inicio Playoffs           26 non-null     datetime64[ns]
 4   Fin Playoffs              26 non-null     datetime64[ns]
dtypes: datetime64[ns](4), object(1)
memory usage: 1.1+ KB

In [152]:
# Función para asignar temporada
def asignar_temporada(fecha):
    for _, row in Seasons.iterrows():
        if row["Inicio Temporada Regular"] <= fecha <= row["Fin Playoffs"]:  # Se incluyen los límites correctamente
            return row["Temporada"]
    return None  # Si no hay coincidencia

# Aplicamos la función a cada fila de df2
Teams["Temporada"] = Teams["gameDate"].apply(asignar_temporada)

# Mostrar filas donde no se asignó temporada (para verificar)
df_sin_temporada = Teams[Teams["Temporada"].isna()]
print(df_sin_temporada)

# Si aún hay valores None, revisamos el mínimo y máximo de gameDate
print("Fecha más antigua en df2:", Teams["gameDate"].min())
print("Fecha más reciente en df2:", Teams["gameDate"].max())

# Verificar las fechas mínimas y máximas en df1 para asegurarnos de que cubren el rango
print("Fecha más antigua en df1:", Seasons["Inicio Temporada Regular"].min())
print("Fecha más reciente en df1:", Seasons["Fin Playoffs"].max())

Empty DataFrame
Columns: [gameId, gameDate, teamCity, teamName, teamId, opponentTeamCity, opponentTeamName, opponentTeamId, home, win, teamScore, opponentScore, assists, blocks, steals, fieldGoalsAttempted, fieldGoalsMade, fieldGoalsPercentage, threePointersAttempted, threePointersMade, threePointersPercentage, freeThrowsAttempted, freeThrowsMade, freeThrowsPercentage, reboundsDefensive, reboundsOffensive, reboundsTotal, foulsPersonal, turnovers, plusMinusPoints, numMinutes, q1Points, q2Points, q3Points, q4Points, Temporada]
Index: []

[0 rows x 36 columns]
Fecha más antigua en df2: 2000-01-03 00:00:00
Fecha más reciente en df2: 2025-02-09 00:00:00
Fecha más antigua en df1: 1999-10-02 00:00:00
Fecha más reciente en df1: 2025-06-30 00:00:00

In [154]:
Teams

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,numMinutes,q1Points,q2Points,q3Points,q4Points,Temporada
0,22400753,2025-02-09,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,48.0,21.0,10.0,-7.0,240.0,22.0,20.0,21.0,24.0,2024-2025
1,22400754,2025-02-09,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,1,1,...,53.0,18.0,12.0,8.0,240.0,40.0,25.0,38.0,32.0,2024-2025
2,22400754,2025-02-09,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,0,0,...,42.0,21.0,14.0,-8.0,240.0,39.0,24.0,28.0,36.0,2024-2025
3,22400753,2025-02-09,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,58.0,19.0,15.0,7.0,240.0,18.0,19.0,21.0,36.0,2024-2025
4,22400752,2025-02-09,Detroit,Pistons,1610612765,Charlotte,Hornets,1610612766,1,1,...,46.0,21.0,11.0,10.0,240.0,39.0,27.0,24.0,22.0,2024-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68887,29900424,2000-01-04,Boston,Celtics,1610612738,Cleveland,Cavaliers,1610612739,1,1,...,48.0,24.0,12.0,7.0,240.0,28.0,30.0,29.0,18.0,1999-2000
68888,29900426,2000-01-04,Golden State,Warriors,1610612744,Washington,Wizards,1610612764,0,0,...,35.0,24.0,19.0,-12.0,240.0,27.0,24.0,20.0,16.0,1999-2000
68889,29900424,2000-01-04,Cleveland,Cavaliers,1610612739,Boston,Celtics,1610612738,0,0,...,38.0,25.0,9.0,-7.0,240.0,34.0,24.0,20.0,20.0,1999-2000
68890,29900423,2000-01-03,Miami,Heat,1610612748,Orlando,Magic,1610612753,1,1,...,45.0,28.0,14.0,8.0,265.0,18.0,31.0,15.0,32.0,1999-2000
68891,29900423,2000-01-03,Orlando,Magic,1610612753,Miami,Heat,1610612748,0,0,...,63.0,32.0,20.0,-8.0,265.0,24.0,32.0,21.0,19.0,1999-2000

Como los salarios los tenemos a partir de la temporada 2000-2001, eliminamos los registros correspondientes a la temporada 1999-2000

In [156]:
# Encuentra los índices de las filas que contienen la temporada 1999-2000
indices_a_eliminar = Teams[Teams['Temporada'] == '1999-2000'].index

# Elimina las filas correspondientes
Teams = Teams.drop(indices_a_eliminar)

# Imprime el DataFrame resultante (opcional)
Teams

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,numMinutes,q1Points,q2Points,q3Points,q4Points,Temporada
0,22400753,2025-02-09,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,48.0,21.0,10.0,-7.0,240.0,22.0,20.0,21.0,24.0,2024-2025
1,22400754,2025-02-09,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,1,1,...,53.0,18.0,12.0,8.0,240.0,40.0,25.0,38.0,32.0,2024-2025
2,22400754,2025-02-09,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,0,0,...,42.0,21.0,14.0,-8.0,240.0,39.0,24.0,28.0,36.0,2024-2025
3,22400753,2025-02-09,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,58.0,19.0,15.0,7.0,240.0,18.0,19.0,21.0,36.0,2024-2025
4,22400752,2025-02-09,Detroit,Pistons,1610612765,Charlotte,Hornets,1610612766,1,1,...,46.0,21.0,11.0,10.0,240.0,39.0,27.0,24.0,22.0,2024-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67203,20000004,2000-11-01,Charlotte,Hornets,1610612766,Atlanta,Hawks,1610612737,0,0,...,44.0,23.0,17.0,24.0,240.0,28.0,22.0,23.0,33.0,2000-2001
67204,20000003,2000-11-01,Orlando,Magic,1610612753,Washington,Wizards,1610612764,1,1,...,37.0,24.0,15.0,11.0,240.0,31.0,23.0,17.0,26.0,2000-2001
67205,20000003,2000-11-01,Washington,Wizards,1610612764,Orlando,Magic,1610612753,0,0,...,44.0,28.0,26.0,-11.0,240.0,22.0,27.0,19.0,18.0,2000-2001
67206,20000002,2000-11-01,Cleveland,Cavaliers,1610612739,New Jersey,Nets,1610612751,0,0,...,52.0,27.0,19.0,4.0,240.0,18.0,26.0,18.0,24.0,2000-2001
67207,20000002,2000-11-01,New Jersey,Nets,1610612751,Cleveland,Cavaliers,1610612739,1,0,...,47.0,31.0,12.0,-4.0,240.0,25.0,19.0,18.0,20.0,2000-2001

In [158]:
Teams.to_csv('TeamStatisticsSeasonsClean.csv', index = False)

In [107]:
Teams

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,numMinutes,q1Points,q2Points,q3Points,q4Points,Temporada
0,22400753,2025-02-09,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,48.0,21.0,10.0,-7.0,240.0,NaN,NaN,NaN,NaN,2024-2025
1,22400754,2025-02-09,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,1,1,...,53.0,18.0,12.0,8.0,240.0,NaN,NaN,NaN,NaN,2024-2025
2,22400754,2025-02-09,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,0,0,...,42.0,21.0,14.0,-8.0,240.0,NaN,NaN,NaN,NaN,2024-2025
3,22400753,2025-02-09,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,58.0,19.0,15.0,7.0,240.0,NaN,NaN,NaN,NaN,2024-2025
4,22400752,2025-02-09,Detroit,Pistons,1610612765,Charlotte,Hornets,1610612766,1,1,...,46.0,21.0,11.0,10.0,240.0,NaN,NaN,NaN,NaN,2024-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67203,20000004,2000-11-01,Charlotte,Hornets,1610612766,Atlanta,Hawks,1610612737,0,0,...,44.0,23.0,17.0,24.0,240.0,28.0,22.0,23.0,33.0,2000-2001
67204,20000003,2000-11-01,Orlando,Magic,1610612753,Washington,Wizards,1610612764,1,1,...,37.0,24.0,15.0,11.0,240.0,31.0,23.0,17.0,26.0,2000-2001
67205,20000003,2000-11-01,Washington,Wizards,1610612764,Orlando,Magic,1610612753,0,0,...,44.0,28.0,26.0,-11.0,240.0,22.0,27.0,19.0,18.0,2000-2001
67206,20000002,2000-11-01,Cleveland,Cavaliers,1610612739,New Jersey,Nets,1610612751,0,0,...,52.0,27.0,19.0,4.0,240.0,18.0,26.0,18.0,24.0,2000-2001
67207,20000002,2000-11-01,New Jersey,Nets,1610612751,Cleveland,Cavaliers,1610612739,1,0,...,47.0,31.0,12.0,-4.0,240.0,25.0,19.0,18.0,20.0,2000-2001

In [160]:
# Convertir la columna a tipo datetime
players['gameDate'] = pd.to_datetime(pd.to_datetime(players['gameDate']).dt.date)

# Mostrar resultado
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867069 entries, 0 to 867068
Data columns (total 32 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   firstName                867069 non-null  object
 1   lastName                 867069 non-null  object
 2   personId                 867069 non-null  int64
 3   gameId                   867069 non-null  int64
 4   gameDate                 867069 non-null  datetime64[ns]
 5   playerteamCity           867069 non-null  object
 6   playerteamName           867069 non-null  object
 7   opponentteamCity         867069 non-null  object
 8   opponentteamName         867069 non-null  object
 9   win                      867069 non-null  int64
 10  home                     867069 non-null  int64
 11  numMinutes               847513 non-null  float64
 12  points                   865850 non-null  float64
 13  assists                  865850 non-null  float64
 14  blocks                   865850 non-null  float64
 15  steals                   865850 non-null  float64
 16  fieldGoalsAttempted      865850 non-null  float64
 17  fieldGoalsMade           865850 non-null  float64
 18  fieldGoalsPercentage     865850 non-null  float64
 19  threePointersAttempted   865850 non-null  float64
 20  threePointersMade        865850 non-null  float64
 21  threePointersPercentage  865850 non-null  float64
 22  freeThrowsAttempted      865850 non-null  float64
 23  freeThrowsMade           865850 non-null  float64
 24  freeThrowsPercentage     865850 non-null  float64
 25  reboundsDefensive        865850 non-null  float64
 26  reboundsOffensive        865850 non-null  float64
 27  reboundsTotal            865850 non-null  float64
 28  foulsPersonal            865850 non-null  float64
 29  turnovers                865850 non-null  float64
 30  plusMinusPoints          865850 non-null  float64
 31  Player                   867069 non-null  object
dtypes: datetime64[ns](1), float64(20), int64(4), object(7)
memory usage: 211.7+ MB

In [86]:
# Función para asignar temporada
def asignar_temporada(fecha):
    for _, row in Seasons.iterrows():
        if row["Inicio Temporada Regular"] <= fecha <= row["Fin Playoffs"]:  # Se incluyen los límites correctamente
            return row["Temporada"]
    return None  # Si no hay coincidencia

# Aplicamos la función a cada fila de df2
players["Temporada"] = players["gameDate"].apply(asignar_temporada)

# Mostrar filas donde no se asignó temporada (para verificar)
df_sin_temporada = players[players["Temporada"].isna()]
print(df_sin_temporada)

# Si aún hay valores None, revisamos el mínimo y máximo de gameDate
print("Fecha más antigua en df2:", players["gameDate"].min())
print("Fecha más reciente en df2:", players["gameDate"].max())

# Verificar las fechas mínimas y máximas en df1 para asegurarnos de que cubren el rango
print("Fecha más antigua en df1:", Seasons["Inicio Temporada Regular"].min())
print("Fecha más reciente en df1:", Seasons["Fin Playoffs"].max())

Empty DataFrame
Columns: [firstName, lastName, personId, gameId, gameDate, playerteamCity, playerteamName, opponentteamCity, opponentteamName, win, home, numMinutes, points, assists, blocks, steals, fieldGoalsAttempted, fieldGoalsMade, fieldGoalsPercentage, threePointersAttempted, threePointersMade, threePointersPercentage, freeThrowsAttempted, freeThrowsMade, freeThrowsPercentage, reboundsDefensive, reboundsOffensive, reboundsTotal, foulsPersonal, turnovers, plusMinusPoints, Player, Temporada]
Index: []

[0 rows x 33 columns]
Fecha más antigua en df2: 2000-01-03 00:00:00
Fecha más reciente en df2: 2025-02-09 00:00:00
Fecha más antigua en df1: 1999-10-02 00:00:00
Fecha más reciente en df1: 2025-06-30 00:00:00

In [101]:
# Encuentra los índices de las filas que contienen la temporada 1999-2000
indices_a_eliminar = players[players['Temporada'] == '1999-2000'].index

# Elimina las filas correspondientes
players = players.drop(indices_a_eliminar)

# Imprime el DataFrame resultante (opcional)
players

,firstName,lastName,personId,gameId,gameDate,playerteamCity,playerteamName,opponentteamCity,opponentteamName,win,...,freeThrowsMade,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints,Player,Temporada
0,Garrett,Temple,202066,22400753,2025-02-09,Toronto,Raptors,Houston,Rockets,0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,Garrett Temple,2024-2025
1,Eric,Gordon,201569,22400754,2025-02-09,Philadelphia,76ers,Milwaukee,Bucks,0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,-12.0,Eric Gordon,2024-2025
2,Paul,George,202331,22400754,2025-02-09,Philadelphia,76ers,Milwaukee,Bucks,0,...,2.0,0.667,5.0,0.0,5.0,1.0,1.0,-6.0,Paul George,2024-2025
3,Damian,Lillard,203081,22400754,2025-02-09,Milwaukee,Bucks,Philadelphia,76ers,1,...,7.0,1.000,6.0,1.0,7.0,1.0,4.0,3.0,Damian Lillard,2024-2025
4,Andre,Drummond,203083,22400754,2025-02-09,Philadelphia,76ers,Milwaukee,Bucks,0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,Andre Drummond,2024-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846940,Hanno,Mottola,2069,20000004,2000-11-01,Atlanta,Hawks,Charlotte,Hornets,0,...,4.0,1.000,3.0,2.0,5.0,4.0,1.0,-3.0,Hanno Mottola,2000-2001
846941,Jamaal,Magloire,2048,20000004,2000-11-01,Charlotte,Hornets,Atlanta,Hawks,1,...,2.0,1.000,1.0,1.0,2.0,2.0,0.0,1.0,Jamaal Magloire,2000-2001
846942,DerMarr,Johnson,2035,20000004,2000-11-01,Atlanta,Hawks,Charlotte,Hornets,0,...,0.0,0.000,0.0,0.0,0.0,3.0,1.0,-9.0,DerMarr Johnson,2000-2001
846943,Eddie,Robinson,1944,20000004,2000-11-01,Charlotte,Hornets,Atlanta,Hawks,1,...,4.0,1.000,2.0,1.0,3.0,1.0,2.0,12.0,Eddie Robinson,2000-2001
846944,Chris,Whitney,43,20000003,2000-11-01,Washington,Wizards,Orlando,Magic,0,...,0.0,0.000,1.0,0.0,1.0,3.0,2.0,-1.0,Chris Whitney,2000-2001

In [103]:
players.to_csv('PlayerStatisticsSeasonsClean.csv', index = False)