In [1]:
import numpy as np
import pandas as pd
import requests
from datetime import date
from datetime import datetime

In [116]:
Seasons = pd.read_csv('nbaSeasons2000-2025.csv')

In [136]:
Teams = pd.read_csv('TeamsStatisticsComplete.csv')
players = pd.read_csv('PlayerStatisticsComplete.csv')

C:\Users\andre\AppData\Local\Temp\ipykernel_20680\1805024555.py:2: DtypeWarning: Columns (32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  players = pd.read_csv('PlayerStatisticsComplete.csv')

In [152]:
players = players.iloc[:, :-1]

In [140]:
Teams = Teams.iloc[:, :-1]

In [138]:
Teams

,gameId,gameDate,teamCity,teamName,teamId,opponentTeamCity,opponentTeamName,opponentTeamId,home,win,...,leadChanges,pointsFastBreak,pointsFromTurnovers,pointsInThePaint,pointsSecondChance,timesTied,timeoutsRemaining,seasonWins,seasonLosses,Season
0,22400627,2025-03-19 21:00:00,Washington,Wizards,1610612764,Utah,Jazz,1610612762,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,36.0,2024-2025
1,22400627,2025-03-19 21:00:00,Utah,Jazz,1610612762,Washington,Wizards,1610612764,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,32.0,2024-2025
2,22400753,2025-02-09 14:00:00,Houston,Rockets,1610612745,Toronto,Raptors,1610612761,1,1,...,5.0,23.0,13.0,32.0,14.0,8.0,1.0,33.0,20.0,2024-2025
3,22400754,2025-02-09 14:00:00,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,0,0,...,22.0,26.0,20.0,50.0,10.0,7.0,1.0,20.0,32.0,2024-2025
4,22400753,2025-02-09 14:00:00,Toronto,Raptors,1610612761,Houston,Rockets,1610612745,0,0,...,5.0,9.0,14.0,40.0,8.0,8.0,0.0,16.0,37.0,2024-2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68889,29900425,2000-01-04 00:00:00,Philadelphia,76ers,1610612755,Milwaukee,Bucks,1610612749,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000
68890,29900425,2000-01-04 00:00:00,Milwaukee,Bucks,1610612749,Philadelphia,76ers,1610612755,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000
68891,29900426,2000-01-04 00:00:00,Washington,Wizards,1610612764,Golden State,Warriors,1610612744,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000
68892,29900423,2000-01-03 00:30:00,Miami,Heat,1610612748,Orlando,Magic,1610612753,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000
68893,29900423,2000-01-03 00:30:00,Orlando,Magic,1610612753,Miami,Heat,1610612748,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999-2000

In [142]:
# Convertir la columna a tipo datetime
Teams['gameDate'] = pd.to_datetime(pd.to_datetime(Teams['gameDate']).dt.date)

# Mostrar resultado
Teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68894 entries, 0 to 68893
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   gameId                   68894 non-null  int64
 1   gameDate                 68894 non-null  datetime64[ns]
 2   teamCity                 68894 non-null  object
 3   teamName                 68894 non-null  object
 4   teamId                   68894 non-null  int64
 5   opponentTeamCity         68894 non-null  object
 6   opponentTeamName         68894 non-null  object
 7   opponentTeamId           68894 non-null  int64
 8   home                     68894 non-null  int64
 9   win                      68894 non-null  int64
 10  teamScore                68894 non-null  int64
 11  opponentScore            68894 non-null  int64
 12  assists                  68892 non-null  float64
 13  blocks                   68892 non-null  float64
 14  steals                   68892 non-null  float64
 15  fieldGoalsAttempted      68892 non-null  float64
 16  fieldGoalsMade           68892 non-null  float64
 17  fieldGoalsPercentage     68892 non-null  float64
 18  threePointersAttempted   68892 non-null  float64
 19  threePointersMade        68892 non-null  float64
 20  threePointersPercentage  68892 non-null  float64
 21  freeThrowsAttempted      68892 non-null  float64
 22  freeThrowsMade           68892 non-null  float64
 23  freeThrowsPercentage     68891 non-null  float64
 24  reboundsDefensive        68892 non-null  float64
 25  reboundsOffensive        68892 non-null  float64
 26  reboundsTotal            68892 non-null  float64
 27  foulsPersonal            68892 non-null  float64
 28  turnovers                68892 non-null  float64
 29  plusMinusPoints          68838 non-null  float64
 30  numMinutes               68892 non-null  float64
 31  q1Points                 62588 non-null  float64
 32  q2Points                 62588 non-null  float64
 33  q3Points                 62586 non-null  float64
 34  q4Points                 62582 non-null  float64
 35  benchPoints              1004 non-null   float64
 36  biggestLead              1004 non-null   float64
 37  biggestScoringRun        1004 non-null   float64
 38  leadChanges              1004 non-null   float64
 39  pointsFastBreak          1004 non-null   float64
 40  pointsFromTurnovers      1004 non-null   float64
 41  pointsInThePaint         1004 non-null   float64
 42  pointsSecondChance       1004 non-null   float64
 43  timesTied                1004 non-null   float64
 44  timeoutsRemaining        1004 non-null   float64
 45  seasonWins               1004 non-null   float64
 46  seasonLosses             1004 non-null   float64
dtypes: datetime64[ns](1), float64(35), int64(7), object(4)
memory usage: 24.7+ MB

In [122]:
date_cols = ['Inicio Temporada Regular', 'Fin Temporada Regular', 'Inicio Playoffs', 'Fin Playoffs']
for col in date_cols:
    Seasons[col] = pd.to_datetime(Seasons[col], dayfirst=True)

In [124]:
Seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Temporada                 26 non-null     object
 1   Inicio Temporada Regular  26 non-null     datetime64[ns]
 2   Fin Temporada Regular     26 non-null     datetime64[ns]
 3   Inicio Playoffs           26 non-null     datetime64[ns]
 4   Fin Playoffs              26 non-null     datetime64[ns]
dtypes: datetime64[ns](4), object(1)
memory usage: 1.1+ KB

In [144]:
# Función corregida para asignar temporada
def asignar_temporada(fecha):
    for _, row in Seasons.iterrows():
        if row["Inicio Temporada Regular"] <= fecha <= row["Fin Playoffs"]:  # Se incluyen los límites correctamente
            return row["Temporada"]
    return None  # Si no hay coincidencia

# Aplicamos la función a cada fila de df2
Teams["Temporada"] = Teams["gameDate"].apply(asignar_temporada)

# Mostrar filas donde no se asignó temporada (para verificar)
df_sin_temporada = Teams[Teams["Temporada"].isna()]
print(df_sin_temporada)

# Si aún hay valores None, revisamos el mínimo y máximo de gameDate
print("Fecha más antigua en df2:", Teams["gameDate"].min())
print("Fecha más reciente en df2:", Teams["gameDate"].max())

# Verificar las fechas mínimas y máximas en df1 para asegurarnos de que cubren el rango
print("Fecha más antigua en df1:", Seasons["Inicio Temporada Regular"].min())
print("Fecha más reciente en df1:", Seasons["Fin Playoffs"].max())

Empty DataFrame
Columns: [gameId, gameDate, teamCity, teamName, teamId, opponentTeamCity, opponentTeamName, opponentTeamId, home, win, teamScore, opponentScore, assists, blocks, steals, fieldGoalsAttempted, fieldGoalsMade, fieldGoalsPercentage, threePointersAttempted, threePointersMade, threePointersPercentage, freeThrowsAttempted, freeThrowsMade, freeThrowsPercentage, reboundsDefensive, reboundsOffensive, reboundsTotal, foulsPersonal, turnovers, plusMinusPoints, numMinutes, q1Points, q2Points, q3Points, q4Points, benchPoints, biggestLead, biggestScoringRun, leadChanges, pointsFastBreak, pointsFromTurnovers, pointsInThePaint, pointsSecondChance, timesTied, timeoutsRemaining, seasonWins, seasonLosses, Temporada]
Index: []

[0 rows x 48 columns]
Fecha más antigua en df2: 2000-01-03 00:00:00
Fecha más reciente en df2: 2025-03-19 00:00:00
Fecha más antigua en df1: 1999-10-02 00:00:00
Fecha más reciente en df1: 2025-06-30 00:00:00

In [102]:
# Ver filas sin temporada asignada
df_sin_temporada = Teams[Teams["Temporada"].isna()]

# Imprimir algunas fechas sin temporada
print("Ejemplos de fechas sin temporada:")
print(df_sin_temporada["gameDate"].head(10))

# Verificar si esas fechas están dentro de algún rango de df1
for fecha in df_sin_temporada["gameDate"].unique():
    coincidencias = Seasons[(Seasons["Inicio Temporada Regular"] <= fecha) & (Seasons["Fin Playoffs"] >= fecha)]
    if coincidencias.empty:
        print(f"La fecha {fecha} NO está dentro de ningún rango en df1.")
    else:
        print(f"La fecha {fecha} SÍ coincide con una temporada en df1.")

Ejemplos de fechas sin temporada:
7234    2022-09-30
7235    2022-09-30
17680   2018-09-30
17678   2018-09-30
17679   2018-09-30
17681   2018-09-30
17682   2018-09-30
17684   2018-09-30
17685   2018-09-30
17683   2018-09-30
Name: gameDate, dtype: datetime64[ns]
La fecha 2022-09-30 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2018-09-30 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2018-09-29 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2018-09-28 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-25 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-24 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-23 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-22 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-21 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-20 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-19 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-18 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-17 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-16 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-15 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-14 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-13 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-12 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-11 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-10 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-09 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-08 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-07 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-06 00:00:00 NO está dentro de ningún rango en df1.
La fecha 2008-10-05 00:00:00 NO está dentro de ningún rango en df1.

In [88]:
Seasons

,Temporada,Inicio Temporada Regular,Fin Temporada Regular,Inicio Playoffs,Fin Playoffs
0,1999-2000,1999-11-02,2000-04-19,2000-04-22,2000-06-19
1,2000-2001,2000-10-31,2001-04-18,2001-04-21,2001-06-15
2,2001-2002,2001-10-30,2002-04-17,2002-04-20,2002-06-12
3,2002-2003,2002-10-29,2003-04-16,2003-04-19,2003-06-15
4,2003-2004,2003-10-28,2004-04-14,2004-04-17,2004-06-15
5,2004-2005,2004-11-02,2005-04-20,2005-04-23,2005-06-23
6,2005-2006,2005-11-01,2006-04-19,2006-04-22,2006-06-20
7,2006-2007,2006-10-31,2007-04-18,2007-04-21,2007-06-14
8,2007-2008,2007-10-30,2008-04-16,2008-04-19,2008-06-17
9,2008-2009,2008-10-28,2009-04-15,2009-04-18,2009-06-14
10,2009-2010,2009-10-27,2010-04-14,2010-04-17,2010-06-17
11,2010-2011,2010-10-26,2011-04-13,2011-04-16,2011-06-12
12,2011-2012,2011-12-25,2012-04-26,2012-04-28,2012-06-21
13,2012-2013,2012-10-30,2013-04-17,2013-04-20,2013-06-20
14,2013-2014,2013-10-29,2014-04-16,2014-04-19,2014-06-15
15,2014-2015,2014-10-28,2015-04-15,2015-04-18,2015-06-16
16,2015-2016,2015-10-27,2016-04-13,2016-04-16,2016-06-19
17,2016-2017,2016-10-25,2017-04-12,2017-04-15,2017-06-12
18,2017-2018,2017-10-17,2018-04-11,2018-04-14,2018-06-08
19,2018-2019,2018-10-16,2019-04-10,2019-04-13,2019-06-13
20,2019-2020,2019-10-22,2020-03-11,2020-08-17,2020-10-11
21,2020-2021,2020-12-22,2021-05-16,2021-05-22,2021-07-20
22,2021-2022,2021-10-19,2022-04-10,2022-04-16,2022-06-16
23,2022-2023,2022-10-18,2023-04-09,2023-04-15,2023-06-12
24,2023-2024,2023-10-24,2024-04-14,2024-04-20,2024-06-17
25,2024-2025,2024-10-22,2025-04-13,2025-04-15,2025-06-01

In [146]:
Teams.to_csv('TeamStatisticsSeasons.csv', index = False)

In [156]:
# Convertir la columna a tipo datetime
players['gameDate'] = pd.to_datetime(pd.to_datetime(players['gameDate']).dt.date)

# Mostrar resultado
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867069 entries, 0 to 867068
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   firstName                867069 non-null  object
 1   lastName                 867069 non-null  object
 2   personId                 867069 non-null  int64
 3   gameId                   867069 non-null  int64
 4   gameDate                 867069 non-null  datetime64[ns]
 5   playerteamCity           867069 non-null  object
 6   playerteamName           867069 non-null  object
 7   opponentteamCity         867069 non-null  object
 8   opponentteamName         867069 non-null  object
 9   win                      867069 non-null  int64
 10  home                     867069 non-null  int64
 11  numMinutes               847513 non-null  float64
 12  points                   865850 non-null  float64
 13  assists                  865850 non-null  float64
 14  blocks                   865850 non-null  float64
 15  steals                   865850 non-null  float64
 16  fieldGoalsAttempted      865850 non-null  float64
 17  fieldGoalsMade           865850 non-null  float64
 18  fieldGoalsPercentage     865850 non-null  float64
 19  threePointersAttempted   865850 non-null  float64
 20  threePointersMade        865850 non-null  float64
 21  threePointersPercentage  865850 non-null  float64
 22  freeThrowsAttempted      865850 non-null  float64
 23  freeThrowsMade           865850 non-null  float64
 24  freeThrowsPercentage     865850 non-null  float64
 25  reboundsDefensive        865850 non-null  float64
 26  reboundsOffensive        865850 non-null  float64
 27  reboundsTotal            865850 non-null  float64
 28  foulsPersonal            865850 non-null  float64
 29  turnovers                865850 non-null  float64
 30  plusMinusPoints          865850 non-null  float64
 31  Player                   867069 non-null  object
 32  gameType                 87778 non-null   object
 33  gameLabel                12888 non-null   object
 34  gameSubLabel             0 non-null       float64
 35  seriesGameNumber         12086 non-null   float64
dtypes: datetime64[ns](1), float64(22), int64(4), object(9)
memory usage: 238.1+ MB

In [158]:
# Función corregida para asignar temporada
def asignar_temporada(fecha):
    for _, row in Seasons.iterrows():
        if row["Inicio Temporada Regular"] <= fecha <= row["Fin Playoffs"]:  # Se incluyen los límites correctamente
            return row["Temporada"]
    return None  # Si no hay coincidencia

# Aplicamos la función a cada fila de df2
players["Temporada"] = players["gameDate"].apply(asignar_temporada)

# Mostrar filas donde no se asignó temporada (para verificar)
df_sin_temporada = players[players["Temporada"].isna()]
print(df_sin_temporada)

# Si aún hay valores None, revisamos el mínimo y máximo de gameDate
print("Fecha más antigua en df2:", players["gameDate"].min())
print("Fecha más reciente en df2:", players["gameDate"].max())

# Verificar las fechas mínimas y máximas en df1 para asegurarnos de que cubren el rango
print("Fecha más antigua en df1:", Seasons["Inicio Temporada Regular"].min())
print("Fecha más reciente en df1:", Seasons["Fin Playoffs"].max())

Empty DataFrame
Columns: [firstName, lastName, personId, gameId, gameDate, playerteamCity, playerteamName, opponentteamCity, opponentteamName, win, home, numMinutes, points, assists, blocks, steals, fieldGoalsAttempted, fieldGoalsMade, fieldGoalsPercentage, threePointersAttempted, threePointersMade, threePointersPercentage, freeThrowsAttempted, freeThrowsMade, freeThrowsPercentage, reboundsDefensive, reboundsOffensive, reboundsTotal, foulsPersonal, turnovers, plusMinusPoints, Player, gameType, gameLabel, gameSubLabel, seriesGameNumber, Temporada]
Index: []

[0 rows x 37 columns]
Fecha más antigua en df2: 2000-01-03 00:00:00
Fecha más reciente en df2: 2025-02-09 00:00:00
Fecha más antigua en df1: 1999-10-02 00:00:00
Fecha más reciente en df1: 2025-06-30 00:00:00

In [160]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 867069 entries, 0 to 867068
Data columns (total 37 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   firstName                867069 non-null  object
 1   lastName                 867069 non-null  object
 2   personId                 867069 non-null  int64
 3   gameId                   867069 non-null  int64
 4   gameDate                 867069 non-null  datetime64[ns]
 5   playerteamCity           867069 non-null  object
 6   playerteamName           867069 non-null  object
 7   opponentteamCity         867069 non-null  object
 8   opponentteamName         867069 non-null  object
 9   win                      867069 non-null  int64
 10  home                     867069 non-null  int64
 11  numMinutes               847513 non-null  float64
 12  points                   865850 non-null  float64
 13  assists                  865850 non-null  float64
 14  blocks                   865850 non-null  float64
 15  steals                   865850 non-null  float64
 16  fieldGoalsAttempted      865850 non-null  float64
 17  fieldGoalsMade           865850 non-null  float64
 18  fieldGoalsPercentage     865850 non-null  float64
 19  threePointersAttempted   865850 non-null  float64
 20  threePointersMade        865850 non-null  float64
 21  threePointersPercentage  865850 non-null  float64
 22  freeThrowsAttempted      865850 non-null  float64
 23  freeThrowsMade           865850 non-null  float64
 24  freeThrowsPercentage     865850 non-null  float64
 25  reboundsDefensive        865850 non-null  float64
 26  reboundsOffensive        865850 non-null  float64
 27  reboundsTotal            865850 non-null  float64
 28  foulsPersonal            865850 non-null  float64
 29  turnovers                865850 non-null  float64
 30  plusMinusPoints          865850 non-null  float64
 31  Player                   867069 non-null  object
 32  gameType                 87778 non-null   object
 33  gameLabel                12888 non-null   object
 34  gameSubLabel             0 non-null       float64
 35  seriesGameNumber         12086 non-null   float64
 36  Temporada                867069 non-null  object
dtypes: datetime64[ns](1), float64(22), int64(4), object(10)
memory usage: 244.8+ MB

In [162]:
players.to_csv('PlayerStatisticsSeasons.csv', index = False)